@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
/*-- scss:defaults --*/

$font-family-sans-serif: "Figtree";
$accent: #003871;

$link-color: #ff5e11 !default;
$presentation-heading-color: white !default;
$body-color: #262730 !default;
$code-color: #663399;

.reveal ul {
    // font-weight: 300;
    font-weight: lighter;
    padding-left: 16px;

    li::marker {
        color: mix($accent, white, 80%);
    }
}