/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Silkscreen:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$presentation-heading-font: "Silkscreen", sans-serif !default;
$presentation-heading-font-weight: 400;

$font-family-monospace: "Fira Code";
$font-family-sans-serif: "PT Sans", sans-serif;

//$body-color: white;
$link-color: #DA291C !default;
$code-color: #E0B500 !default;
//$body-bg: black;